<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Book</title>
</head>

<body>
    <header class="top">
        <% if(user.role==='admin' ) { %>
            <%- include('partials/adminHeader'); %>
                <% } else { %>
                    <%- include('partials/header'); %>
                        <% } %>
    </header>
    <main>
        <div class="card-container">
            <%if (book.length >= 1) {%>
                <% book.forEach(item=> { %>
                    <div class="card">
                        <div>
                            <img src="<%= item.cover_image_url %>" alt="">
                        </div>
                        <p>
                            <%= item.title %>
                        </p>
                        <h3>
                            <%= item.author %>
                        </h3>
                        <p>
                            <%= item.genre %>
                        </p>
                        <h4>
                            <%= item.year %>
                        </h4>

                        <% if(user.role==='admin' ) { %>
                            <div class="btn" style="display: flex; gap: 10px;">
                                <a href="/books/<%= item.id %>">
                                    <span id="edit" style="background-color: red;">Edit</span>
                                </a>
                                <a href="/books/<%= item.id %>/delete">
                                    <span id="delete" style="background-color: red;">Delete</span>
                                </a>
                            </div>
                            <% } else { %>
                                <a href="#">
                                    <span id="download" style="background-color: red;">Download</span>
                                </a>
                                <% } %>
                    </div>

                    <% }) %>

                        <% } %>
        </div>
        <% if(message ) { %>
            <p>
                <%= message %>
            </p>
            <% } %>
                </div>
    </main>
</body>

</html>